
.content{
    margin-left: 10%;
    margin-top: 50px;
}

#description{
    color: gray;
    margin-right: 150px;
}
div > h4{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

.custom-btn{
    text-transform: uppercase;
    font: bold;
}

