* {
    box-sizing: border-box!important;
}

.text-info{
    margin-bottom: 15px;
}



.book-appointment form {
    width: 400px;
    margin: 0 auto;
}

.book-appointment .form-control {
    background: #f5f5f5;
    border: none;
    padding: 25px 15px !important;
}

.error {
    color: red;
}

.book-appointment .option label {
    color: red;
    cursor: pointer;
}

label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    color:black;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px ;
  }
  