.bg-image{  
    background-image: url("https://res.cloudinary.com/dllb2cjw6/image/upload/v1586321505/Mask_Group_2_lxaw8c.png");
    max-width: 100%;
    height: 625px;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;   
}
.appointment-Sec{
  overflow: hidden;
}

.navbar{
    margin-bottom: 75px;
}
div>h2{
    margin-bottom: 50px;
}

.card-custom{
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 15px; 
    margin-top: 15px;
}

